<h1>Editing order</h1>

<%= render "form", order: @order %>

<br>

<div class="container">
<table>
<tr>
  <td><%= link_to "Show this order", @order %><td> |
  <td><%= link_to "Back to orders", orders_path %></td>
  </tr>
  </table>
</div>
