@import "colors";
$formBorder: 4px solid $primaryColor;
$boxShadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);

.hp{
    text-align: center;
}

.row{
//   border: 1px solid green;
}

.k{
    border: 1px solid pink;
}

.caption{
    padding: 20px;
    
    margin-top: 20px;
    margin-left: 40px;
    // border: 1px solid red; 
}
.caption p{
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #282727;
}


.pro{
    // border: 1px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    background: $baseColor;
    box-shadow: $boxShadow;
}

.sign-container{
    margin-top: 40px;
}

.table{
    margin-top: 20px;
}


