
    <div class="col-md-2.5 caption pro">
      <%# <div class="thumbnail col-lg-3 col-md-3">
        <a href="/w3images/lights.jpg" target="_blank"></a>
        <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
      </div> %>
      <p>Name:&nbsp;&nbsp;<%= product.title %></p>
      <p>Description:&nbsp; <%= product.description %></p>
      <p>Price:<%= number_to_currency(product.price) %></p>
      <p><%= link_to "Show", product %></p>
    </div> 






 

