<div id="<%= dom_id line_item %>">
</div>



<p>Your Item Name is: &nbsp; <%= line_item.product.title %> </p>
<p>Quantity of Item is: &nbsp; <%= line_item.quantity %> </p>

<p> Price of Item: &nbsp; <%= number_to_currency(line_item.total_price) %> </p>