<div class="container">
  <%# <h2>Products</h2> %>
<%# <% @cart.line_items.each do |line_item| %>
<h1 class="text-center">Happy Shopping!</h1>

  <div class="row">
    <%# <div class="col-md-10 col-md-offset-1 caption"> %>
      <%# <div class="thumbnail col-lg-3 col-md-3">
        <a href="/w3images/lights.jpg" target="_blank"></a>
          <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
      </div> %>
          <%# <div class="col-md-10 col-md-offset-1 caption"> %>
        <% cache @products do %>
          <% @products.each do |product| %>
           <% cache product do %> 
            <div class="col-md-3 caption pro">
             <%# <div class= "k"> %>
             <p>Name:&nbsp;&nbsp;<%=product.title %></p>
             <p>Desc:&nbsp;&nbsp; <%= sanitize(product.description)%></p>
             <p>Price:&nbsp;&nbsp; <%= number_to_currency(product.price)%></p>
              <%= button_to 'Add to Cart' , line_items_path(product_id: product),    class: "btn btn-success"%>
            </div> 
          <%end%>
        <%end%>
      <%end%>
    </div>
  </div>
</div>